body{
    background-color: rgb(29, 29, 59);
    color: white;
}
h1{
    text-align: center;
}
.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(234, 245, 255);
    width: 500px;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    height: 800px;
    color: black;
}
#search-input{
    padding: 5px 10px 5px;
}
#search-button{
    cursor: pointer;
    background-color: rgb(28, 91, 173);
    color: white;
    border: none;
    margin-left: 7px;
    padding: 5px 10px 5px;
    border-radius: 7px;
    font-size: smaller;
}
#search-button:hover{
    background-color: rgb(4, 43, 127);
}


#inner{
    display: flex;
}
#inside{
    margin-top: 20px;
    width: 400px;
    height: 400px;
    background-color: rgb(245, 247, 249);
}
#inside p{
    margin-left: 20px;
}
#both{
    width: 400px;
    display: flex;
    justify-content: space-between;
}

